.best-merch {
  padding-top: 31px;
  padding-bottom: 36px;
}

.best-merch__wrapper {
  display: grid;
  grid-template-rows: auto;
}

.best-merch__subtitle {
  color: $aqua;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.best-merch__char-table {
  margin-top: 28px;
  margin-bottom: 28px;
  color: $black-color;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
}

.best-merch__char-table tr {
  border-bottom: 1px solid $smoke-white--light;
  display: flex;
  align-items: center;
  width: 100%;
  height: 39px;
  padding-bottom: 5px;
}

.best-merch__char-table td:first-child {
  width: 97px;
}

.best-merch__wrapper p {
  color: $black-color;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.best-merch__cost {
  color: $black-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 25px 0;
  display: block;
  text-align: center;
}

.best-merch__buy {
  padding: 16px 70px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .best-merch {
    padding-top: 40px;
  }

  .best-merch__wrapper {
    grid-template-columns: 292px 42px 200px 134px;
    grid-template-rows: auto;
  }

  .best-merch__title {
    grid-column: 1/4;
    margin-bottom: 38px;
  }

  .best-merch__subtitle {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    max-width: 100px;
    margin-left: auto;
  }

  .best-merch__wrapper p {
    font-size: 17px;
    line-height: 30px;
  }

  .best-merch__char-table,
  .best-merch__cost,
  .best-merch__buy {
    grid-column: 1/2;
  }

  .best-merch__char-table {
    margin-top: 48px;
    margin-bottom: 70px;
  }

  .best-merch__cost {
    margin: 0;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  .best-merch__wrapper img {
    width: 334px;
    height: 404px;
    grid-column: 3/4;
    grid-row: 2/6;
    margin-top: auto;
  }
}
