.best-merch {
  position: relative;
  margin-top: 31px;
  padding-bottom: 36px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url("../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: cover;
  }
}

.best-merch__wrapper {
  display: grid;
  grid-template-rows: auto;
}

.best-merch__wrapper p {
  color: $black-color;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.best-merch__title {
  margin-bottom: 5px;
}

.best-merch__subtitle {
  color: $aqua;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.best-merch__char-table {
  margin-top: 16px;
  margin-bottom: 28px;
  color: $black-color;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
}

.best-merch__char-table tr {
  border-bottom: 1px solid $smoke-white--light;
  display: flex;
  align-items: center;
  width: 100%;
  height: 39px;
}

.best-merch__char-table td {
  padding: 0;

  &:first-child {
    width: 97px;
  }
}

.best-merch__cost {
  color: $black-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 27px 0 24px;
  display: block;
  text-align: center;
}

.best-merch__buy {
  width: 100%;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .best-merch {
    margin-top: 52px;
    padding-bottom: 70px;

    &::after {
      height: 17px;
      bottom: 0;
    }
  }

  .best-merch__wrapper {
    grid-template-columns: 292px 42px 200px 134px;
    grid-template-rows: auto;
  }

  .best-merch__wrapper p {
    font-size: 17px;
    line-height: 30px;
  }

  .best-merch__wrapper img {
    width: 334px;
    height: 404px;
    grid-column: 3/4;
    grid-row: 2/6;
    margin-top: auto;
  }

  .best-merch__title {
    grid-column: 1/4;
    margin-bottom: 38px;
  }

  .best-merch__subtitle {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    max-width: 100px;
    margin: 7px auto;
  }

  .best-merch__char-table,
  .best-merch__cost,
  .best-merch__buy {
    grid-column: 1/2;
  }

  .best-merch__char-table {
    margin-top: 35px;
    margin-bottom: 58px;
  }

  .best-merch__cost {
    margin: 0;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .best-merch {
    margin-top: 60px;
    padding-bottom: 98px;

    &::after {
      width: $desktop-width--wrapper;
      height: 23px;
      background-size: contain;
    }
  }

  .best-merch__wrapper {
    grid-template-columns: 175px 292px 58px auto;
    grid-template-rows: auto;
  }

  .best-merch__wrapper img {
    width: 100%;
    height: 636px;
    grid-column: 4/5;
    grid-row: 1/6;
  }

  .best-merch__title {
    margin-top: 61px;
    grid-column: 2/5;
    grid-row: 1/2;
    z-index: 1;
  }

  .best-merch__subtitle {
    margin-right: auto;
    margin-top: 70px;
    grid-column: 1/2;
    grid-row: 1/6;
  }

  .best-merch__char-table,
  .best-merch__cost,
  .best-merch__buy {
    grid-column: 2/3;
  }

  .best-merch__char-table {
    margin-top: 45px;
    margin-bottom: 112px;
  }
}
