.catalog h1 {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  display: block;
  padding-top: 74px;
  padding-bottom: 74px;
  background-color: $smoke-white;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.catalog__list {
  display: grid;
  grid-template-rows: auto;
  gap: 30px;
  align-content: center;
  margin-bottom: 30px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $smoke-white--light;
  box-sizing: border-box;
}

.catalog__item-description {
  padding: 28px;
}

.catalog__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.catalog__item-parameters {
  color: $black-color;
  font-size: 13px;
  line-height: 30px;
}

.catalog__item-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid $smoke-white--light;
  box-sizing: border-box;
  padding-top: 23px;
}
