.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__wrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.contacts__items {
  display: grid;
  grid-template-columns: 76px 183px;
  grid-template-rows: auto;
}

.contacts__items p,
.contacts__items a {
  color: $black-color;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.contacts__items a {
  border-bottom: 1px solid $aqua--line;
}

.contacts iframe {
  margin-top: 62px;
  margin-bottom: 42px;
}

.contacts__write-us {
  width: 260px;
  margin: 0 auto;
  padding: 16px 0;
  display: block;
  text-align: center;
}
