.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.contacts__list {
  display: grid;
  grid-template-rows: auto;
}

.contacts__item {
  display: flex;

  & p,
  & a {
    color: $black-color;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
  }

  & p:first-child {
    margin-right: 33px;
  }

  & a {
    border-bottom: 1px solid $aqua--line;
  }
}

.contacts iframe {
  display: block;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 42px;
}

.contacts__write-us {
  width: $mobile-width--wrapper;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 68px;
    padding-bottom: 57px;

    & iframe {
      height: 457px;
    }
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    grid-template-columns: 1fr 1fr;
  }

  .contacts__item {
    display: flex;

    & p {
      margin-right: 22px;
      font-size: 17px;
      line-height: 30px;
    }

    & a {
      font-size: 17px;
      line-height: 30px;
      height: fit-content;
    }
  }

  .contacts__write-us {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 174px 398px 527px;
    grid-template-rows: 80px auto;
  }

  .contacts__wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    margin-bottom: 130px;
  }

  .contacts__item p {
    margin-bottom: 20px;
  }

  .contacts iframe {
    margin: 0;
    width: 527px;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/4;
  }

  .contacts__write-us {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
