.form-comments__legend {
  margin-bottom: 23px;
}

.form-comments__text {
  resize: none;
  width: 100%;
  padding: 14px;
  display: block;
  box-sizing: border-box;
  border: 2px solid $black-color;
  margin-bottom: 17px;

  &::placeholder {
    font-family: $font-default;
    font-size: 17px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
  }
}

.form-comments__note {
  font-size: 14px;
  line-height: 16px;
  color: $black-color;
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form-comments {
    position: relative;
  }

  .form-comments__legend {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .form-comments__text {
    margin-bottom: 0;
    padding: 15px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-comments__note {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
    position: absolute;
    right: 50px;
    bottom: -95px;
  }
}

@media (min-width: $desktop-width) {
  .form-comments__text {
    width: 700px;
  }

  .form-comments__note {
    right: 224px;
    bottom: -89px;
  }
}
