.form-radio__list li {
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 43px;
}

.form-radio__list li:last-child {
  margin-bottom: 33px;
}

.form-radio__item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $black-color;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}

.form-radio__item:checked + label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $aqua;
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}
