@media (min-width: $tablet-width) {
  .form-section {
    padding-bottom: 16px;

    &:nth-child(even) {
      background-color: $smoke-white;
    }

    &--color {
      padding-top: 50px;
      padding-bottom: 51px;
    }

    &--personal {
      padding-top: 65px;
      padding-bottom: 52px;
    }

    &--contacts {
      padding-top: 59px;
      padding-bottom: 50px;
    }

    &--contacts fieldset:not(:last-child) {
      margin-bottom: 33px;
    }

    &--comments {
      padding-top: 50px;
      margin-bottom: 53px;
      padding-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-section {
    &--comments {
      margin-bottom: 47px;
    }

    &--personal {
      padding-top: 63px;
      padding-bottom: 50px;
    }
  }
}
