.form-email__legend {
  margin-bottom: 20px;

  &::after {
    width: 182px;
  }
}

@media (min-width: $tablet-width) {
  // .form-email {
  //   margin-bottom: 33px;
  // }

  .form-email__legend {
    margin-bottom: 0;
    margin-top: 5px;
  }
}
