@media (min-width: $tablet-width) {
  .form-section {
    padding-top: 65px;
    padding-bottom: 16px;

    &:nth-child(even) {
      background-color: $smoke-white;
    }

    &--contacts {
      padding-bottom: 50px;
    }

    &--comments {
      margin-bottom: 22px;
    }
  }
}
