.form-phone__legend {
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .form-phone__legend {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-phone__legend {
    margin-left: 50px;
  }
}
