.form-name__legend {
  margin-bottom: 29px;
}

.form-phone__legend {
  margin-bottom: 18.5px;
}

.form-email__legend {
  margin-bottom: 20px;
}

.form-comments__legend {
  margin-bottom: 22.5px;
}

.form-name__item-label {
  padding-left: 0;
}

.form-name__item,
.write-area {
  border: none;
  border-bottom: 2px solid black;
  display: block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
}

.write-area {
  padding-top: 0;
}

.form-name__item,
.write-area {
  margin-bottom: 34.5px;
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
  }
}

.form-comments__text {
  resize: none;
  width: 100%;
  padding: 17px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 17px;
  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
  }
}

.form-comments__note {
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 30px;
}

.form__send {
  width: 100%;
  padding: 18px;
}
