.form-checkbox__legend {
  margin-bottom: 25px;
}

.form-checkbox__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-checkbox__list li {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 33px;
  }
}

.form-checkbox__item-label {
  min-height: 38px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    border: 2px solid $black-color;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
  }

  &:hover::before {
    border-color: $aqua--line;
  }

  &:active::before {
    border-color: $black-color;
    opacity: 0.3;
  }
}

.form-checkbox__item:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 12px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(135deg);
}

@media (min-width: $tablet-width) {
  .form-checkbox__legend {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .form-checkbox__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
  }

  .form-checkbox__list li {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-checkbox__item-label {
    min-height: 52px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  .form-checkbox__item:checked + label::after {
    top: 14px;
    left: 12px;
    width: 27px;
    height: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox__list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 100px;
    column-gap: 15px;
  }
}
