.form-phone {
  padding-top: 10px;
}

.form-phone__legend {
  margin-bottom: 19px;

  &::after {
    top: 18px;
  }
}

@media (min-width: $tablet-width) {
  .form-phone {
    padding-top: 0;
  }

  .form-phone__legend {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-phone__legend {
    margin-top: 2px;
    margin-left: 60px;
  }
}
