.main-navigation__logo {
  display: flex;
  width: 86px;
  height: 35px;
  margin: 22px auto 21px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation--closed .main-navigation__toggle {
  position: absolute;
  width: 30px;
  height: 24px;
  top: 6px;
  right: 26px;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 14px;
    top: 5px;
    right: 5px;
    background: linear-gradient(to bottom, $black-color--darker 0, $black-color--darker 2px, transparent 2px, transparent 6px, $black-color--darker 6px, $black-color--darker 8px, transparent 8px, transparent 12px, $black-color--darker 12px, $black-color--darker 14px) 100% 100% no-repeat;
    border: none;
  }
}

.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  width: 31px;
  height: 30px;
  top: 2px;
  right: 25px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 2px;
    width: 27px;
    height: 2px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation__list {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $black-opacity10;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation--closed .main-navigation__list {
  display: none;
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__list {
  display: flex;
}

.main-navigation__item {
  position: relative;
  box-sizing: border-box;

  &:not(:nth-child(4)) {
    border-bottom: 1px solid $black-opacity10;
  }

  &--new,
  &--sale {
    display: none;
    font-size: 15px;
    line-height: 24px;
  }
}

.main-navigation__item-link {
  position: relative;
  display: block;
  padding: 29px 0 25px 76px;

  .main-navigation__item-icon {
    opacity: 0.2;
  }

  &:hover p {
    opacity: 0.6;
  }

  &:hover svg {
    opacity: 1;
    fill: $aqua;
  }

  &:active p {
    opacity: 0.3;
  }

  &:active svg {
    opacity: 0.3;
    fill: $aqua;
  }
}

.main-navigation__item-link p {
  margin: 0;
}

.main-navigation__item-icon {
  position: absolute;
  left: 31px;
  bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 18px;
  }

  .main-navigation--closed .main-navigation__list {
    display: flex;
  }

  .main-navigation__logo {
    width: 113px;
    height: 46px;
    margin: 22px 18px;
  }

  .main-navigation__logo img {
    width: 100%;
    height: 100%;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border: none;
  }

  .main-navigation__item {
    font-size: 17px;
    line-height: 24px;

    &:not(:nth-child(4)) {
      border-bottom: none;
    }

    &--catalog {
      position: absolute;
      top: 100px;
      left: 38px;
      font-size: 15px;
      line-height: 24px;
    }

    &--form {
      position: absolute;
      font-size: 15px;
      line-height: 24px;
      top: 100px;
      left: 205px;
    }
  }

  .main-navigation__item-link {
    padding: 33px;
    padding-left: 83px;
    width: auto;

    &--search {
      border-right: 1px solid $black-opacity10;
      border-left: 1px solid $black-opacity10;
      height: 100%;
      box-sizing: border-box;
      padding: 36px 49px 34px 33px;
    }

    &--search p {
      display: none;
    }

    &--catalog,
    &--form {
      padding: 10px 12px;
    }
  }

  .main-navigation__item-icon {
    bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    padding-right: 17px;
    padding-left: 17px;
  }

  .main-navigation__list {
    width: 100%;
  }

  .main-navigation__logo {
    position: absolute;
    width: 149px;
    height: 72px;
    top: -10px;
    left: 42%;
  }

  .main-navigation__logo img {
    width: 100%;
    height: 100%;
  }

  .main-navigation__item {
    &--catalog,
    &--form {
      position: static;
    }

    &--catalog {
      border-right: 1px solid $black-opacity10;
    }

    &--search {
      margin-left: auto;
    }

    &--new,
    &--sale {
      display: block;
      position: absolute;
      top: 93px;
      left: 37px;
    }

    &--sale {
      left: 255px;
    }
  }

  .main-navigation__item-link {
    font-size: 17px;

    &--catalog,
    &--form,
    &--new,
    &--sale {
      padding: 33px 35px;
    }

    &--new,
    &--sale {
      font-size: 15px;
      padding: 15px;
    }
  }
}
