.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  width: $mobile-width;
  height: 100%;
  align-items: center;
  background-color: $white-opacity90;
  z-index: 2;


  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.modal__show {
  display: flex;
}

.modal__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $grey-color;
  box-shadow: 0 10px 5px 0 $black-opacity25;
  box-sizing: border-box;
  background-color: white;
  padding: 29px 30px 46px 30px;
}

.modal__wrapper h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  width: 150px;
}

.modal__wrapper p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 22px;
}
