.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 32px;
  background-color: $smoke-white;
}

.social__list {
  border-bottom: 1px solid $gainsboro;
}

.footer__developers b {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}
