.page-footer {
  background-color: $smoke-white;
}

.page-footer__wrapper {
  padding-top: 15px;
  padding-bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__developers {
  display: flex;
  align-items: center;
  margin-top: 8px;

  svg {
    fill: $aqua;
  }

  &:hover svg {
    fill: $aqua--darker-hover;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__developers b {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding-top: 44px;
    padding-bottom: 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;

    &:hover svg {
      fill: $aqua--darker-hover;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  .page-footer__developers {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 44px;
  }
}
