.page-header__wrapper {
  position: relative;
}

.page-header__shipping {
  color: $black-color;
  font-size: 15px;
  line-height: 24px;
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 668px;
  }

  .page-header__shipping {
    display: block;
    position: absolute;
    right: 0;
  }
}
