.page {
  height: 100%;
  font-family: $font-default;
}

.page__body {
  min-width: $mobile-width;
  color: black;
  background-color: white;
}

@media (min-width: $tablet-width) {
  .page__body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    min-width: $desktop-width;
  }
}
