.review {
  padding-bottom: 45px;
}

.review__wrapper {
  width: 260px;
  display: grid;
  grid-template-rows: auto;
}

.review__title {
  margin: 0;
  margin-bottom: 14px;
}

.review__item blockquote {
  color: $black-color;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.review__item cite {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin-top: 33px;
  margin-bottom: 30px;
  display: block;
}

.review__item a {
  color: $black-color;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}

.review__slider-buttons-block {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.review__slider-arrow {
  background-color: white;
  border: 1px solid $smoke-white--light;
  margin: 0;
  display: block;
  width: 100%;
  min-height: 52px;
}

.review__to-write {
  padding: 16px 65px;
  display: block;
  text-align: center;
}
