.showcase-catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $aqua;
}

.showcase-catalog__item {
  background-color: $aqua;
  margin: 0;
  padding-top: 24px;
  padding-left: 30px;
  min-height: 103px;
  display: block;
  box-sizing: border-box;

  &:active {
    background-color: $aqua--hover;
  }

  &--darker {
    background-color: $aqua--darker;
  }

  &--darker:active {
    background-color: $aqua--darker-hover;
  }
}

.showcase-catalog__item p {
  color: white;
  width: 131px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .showcase-catalog__list {
    flex-direction: row;
    margin: 0 50px;
  }

  .showcase-catalog__list li {
    display: block;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .showcase-catalog__item p {
    font-size: 20px;
    line-height: 30px;
  }
}
