.showcase-window {
  padding-top: 73px;
  background-color: $grey-color--background;
  background-image: url("../img/index-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 19%;
  // border-top: 1px solid $smoke-white--light;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.showcase-window h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  max-width: 260px;
  margin: auto;
  padding-bottom: 120px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .showcase-window {
    padding-top: 154px;
    // border-top: 1px solid $black-opacity10;
    background-image: url("../img/index-desktop.jpg");
    background-position: 50% 3%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .showcase-window h1 {
    font-size: 43px;
    line-height: 50px;
    max-width: 500px;
    padding-bottom: 369px;
  }

  @media (min-width: $desktop-width) {
    .showcase-window h1 {
      font-size: 53px;
      line-height: 57px;
      max-width: 700px;
      padding-bottom: 355px;
    }
  }
}
