.social {
  margin-bottom: 7px;
}

.social__list {
  width: $mobile-width--wrapper;
  padding-bottom: 14px;
  border-bottom: 1px solid $gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.social__list li:not(:last-child) {
  margin-right: 21px;
}

.social__link {
  display: block;
  padding: 10px;

  &:hover path {
    fill: $aqua--darker-hover;
  }

  &:active path {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
  }

  .social__list {
    border: none;
    padding-bottom: 0;
  }
}
