.write-area {
  border: none;
  border-bottom: 2px solid black;
  display: block;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 17px;
  margin-bottom: 35px;
  width: 100%;

  &::placeholder {
    font-family: $font-default;
    font-size: 17px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .write-area {
    font-size: 19px;
    margin-bottom: 0;
    background-color: transparent;
    padding-left: 18px;


    &::placeholder {
      font-size: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .write-area {
    width: 700px;
  }
}
