.write-area {
  border: none;
  border-bottom: 2px solid black;
  display: block;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 17px;
  margin-bottom: 35px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    font-family: $font-default;
    color: black;
    opacity: 0.3;
  }

  &:hover {
    border-color: $aqua--line;
  }

  &:hover + svg {
    opacity: 1;
    fill: $aqua--line;
  }

  &:focus {
    outline: none;
    border-color: $aqua--line;
  }

  &:focus + svg {
    opacity: 1;
    fill: $aqua--line;
  }
}

@media (min-width: $tablet-width) {
  .write-area {
    font-size: 19px;
    padding-left: 18px;
    padding-bottom: 15px;
    margin-bottom: 0;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .write-area {
    width: 700px;
  }
}
