$font-default: "Open Sans", "Arial", sans-serif;

$aqua: #63d1bb;
$aqua--darker: #56c3b2;
$aqua--line: #62d1ba;

$black-color: #444444;
$black-color--social: #231f20;

$background-color: #f1f1f1;
$border-color: #ececec;
$border-color--footer: #e5e5e5;
$grey-color: #c6c6c6;

$modal-background: rgba(255, 255, 255, 0.9);
$modal-shadow: rgba(0, 1, 1, 0.25);
