$font-default: "Open Sans", "Arial", sans-serif;

$mobile-width: 320px;
$mobile-width--wrapper: 260px;
$no-mobile-width: 321px;
$tablet-width: 768px;
$tablet-width--wrapper: 668px;
$desktop-width: 1150px;
$desktop-width--wrapper: 1050px;
$modal-width: 566px;


$aqua: #63d1bb;
$aqua--hover: #59d5bc;
$aqua--darker: #56c3b2;
$aqua--darker-hover: #46c1ae;
$aqua--line: #62d1ba;
$blue-chill: #149080;

$black-color: #444444;
$black-color--darker: #231f20;

$grey-color: #c6c6c6;
$grey-color--background: #f9f9f9;
$smoke-white: #f1f1f1;
$smoke-white--light: #ececec;
$gainsboro: #e5e5e5;

$white-opacity90: rgba(255, 255, 255, 0.9);
$black-opacity60: rgba(0, 1, 1, 0.6);
$black-opacity30: rgba(0, 1, 1, 0.3);
$black-opacity25: rgba(0, 1, 1, 0.25);
$black-opacity10: rgba($black-color, 0.1);
